@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap'); 
*{ 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
  font-family: 'Montserrat',sans-serif; 
} 
nav { 
  background: #151515; 
  padding: 5px 40px; 
  display: flex; 
  justify-content: center; 
} 
 
nav ul { 
  list-style: none; 
  display: flex; 
  align-items: center; 
} 
.items { 
  text-align: center; 
} 
 
.items a { 
  display: inline-block; 
  text-align: center; 
} 
nav ul li{ 
  padding: 15px 0; 
  cursor: pointer; 
   
} 
nav ul li.items{ 
  position: relative; 
  width: auto; 
  margin: 0 16px; 
  text-align: center; 
  order: 3; 
  align-items: center; 
} 
nav ul li.items:after{ 
  position: absolute; 
  content: ''; 
  left: 0; 
  bottom: 5px; 
  height: 2px; 
  width: 100%; 
  background: #33ffff; 
  opacity: 0; 
  transition: all 0.2s linear; 
} 
nav ul li.items:hover:after{ 
  opacity: 1; 
  bottom: 8px; 
} 
nav ul li.logo{ 
  flex: 1; 
  color: white; 
  font-size: 23px; 
  font-weight: 600; 
  cursor: default; 
  user-select: none; 
} 
nav ul li a{ 
  color: white; 
  font-size: 18px; 
  text-decoration: none; 
  transition: .4s; 
} 
nav ul li:hover a{ 
  color: cyan; 
} 
nav ul li i{ 
  font-size: 23px; 
} 
nav ul li.btn{ 
  display: none; 
} 
nav ul li.btn.hide i:before{ 
  content: '\f00d'; 
} 

@media all and (max-width: 900px){ 
  nav{ 
    padding: 5px 30px; 
  } 
  nav ul li.items{ 
    width: 100%; 
    display: none; 
  } 
  nav ul li.items.show{ 
    display: block; 
  } 
  nav ul li.btn{ 
    display: block; 
  } 
  nav ul li.items:hover{ 
    border-radius: 5px; 
    box-shadow: inset 0 0 5px #33ffff, 
                inset 0 0 10px #66ffff; 
  } 
  nav ul li.items:hover:after{ 
    opacity: 0; 
  } 
}

.b11{
    width:550px;
    margin-left: 150px;
    margin-top: 50px;
    padding-right: 30px;
}

.b12{
    width:500px;
    border-radius: 15px;
}

.pic:hover{
    cursor: pointer;
}

.text1{
    margin-top: 50px;
    padding-top:30px;
    padding-left: 60px;
    font-weight: 600;
    font-size: 30px;
} 

.seeall{
    padding:8px 10px;
    border-radius: 7px;
    border-color: transparent;
    background-color:rgb(237, 234, 234);
    position:absolute;
    right: 80px;
    top: 30px;
}

.seeall:hover{
  padding:10px 12px;
  transition: 0.2s;
  font-weight: 600;
}

.seeall:active{
  padding:10px 12px;
  font-weight: 600;
  background-color: rgb(219, 219, 219);
}

.btn{
    background-color: white;
    width: 1400px;
    height:100px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    border-color: transparent;
    border-radius: 30px;
}

.btn:hover{
    box-shadow: 4px 4px rgb(173, 173, 173);
    transition: 0.2s;
}

.btn:active{
    box-shadow: 4px 4px rgb(173, 173, 173);
    transition: 0.2s;
    background-color: rgb(211, 206, 199);
    width: 1420px;
    height:120px;
}

.dw{
    margin-left: 90px;
    width:1200px;
    position:absolute;
    top:118px;    
}

.text2{
  justify-content: space-between;
  display:flex;
  flex:1;
  font-weight: 700;
  font-size: 16px;
  width:1200px;
  margin-left: 130px;
}

.searchbar{
  position:absolute;
  top:130px;
  left:60px;
  padding:13px;
  border-color: transparent;
  border-radius: 40px;
  width:300px;
  box-shadow: 2px 2px gray;
}

.searchbar::placeholder{
  font-size:16px;
  
}
